# Part I

In [2]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/stats201-josh-finalproject/main/data/Queried_Data/final_processed_data.csv')
df.head(20)

    YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
0   1984                   0.011833                    58.7100
1   1985                  -0.025167                    63.8500
2   1986                  -0.034667                    67.5025
3   1987                  -0.026083                    70.8350
4   1988                  -0.072167                    73.9250
5   1989                  -0.027083                    77.3175
6   1990                  -0.030750                    79.7500
7   1991                   0.011167                    82.3125
8   1992                   0.005500                    86.1025
9   1993                   0.012917                    89.6650
10  1994                  -0.019667                    95.6325
11  1995                   0.057667                   103.7150
12  1996                   0.015000                   111.1875
13  1997                   0.008000                   117.7625
14  1998                   0.036750                   124.1100
15  1999                   0.068583                   126.9600
16  2000                   0.012000                   128.9650
17  2001                  -0.024917                   134.9325
18  2002                  -0.012250                   138.3325
19  2003                   0.029500                   142.4125

In [9]:
df.columns

Index(['YEAR', 'YEARLY SL (SEA LEVEL) (X)', 'WILMINGTON PRICE INDEX(Y)'], dtype='object')

In [11]:
df.dtypes

YEAR                           int64
YEARLY SL (SEA LEVEL) (X)    float64
WILMINGTON PRICE INDEX(Y)    float64
dtype: object

# Part II

## 2.1.

In [14]:
df[''] = df['WILMINGTON PRICE INDEX(Y)'].pct_change(1)
df.head()

   YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
0  1984                   0.011833                    58.7100       NaN
1  1985                  -0.025167                    63.8500  0.087549
2  1986                  -0.034667                    67.5025  0.057204
3  1987                  -0.026083                    70.8350  0.049369
4  1988                  -0.072167                    73.9250  0.043623

# Part III:

In [15]:
#@title Define the Congestion Threshold
cut = 0 #@param {type:"number"}

## 3.1. Method 1: If function

In [16]:
df['WILMINGTON PRICE INDEX(Y)'] = df['YEARLY SL (SEA LEVEL) (X)'].pct_change(1)
df.head(5)

   YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
0  1984                   0.011833                        NaN       NaN
1  1985                  -0.025167                  -3.126761  0.087549
2  1986                  -0.034667                   0.377483  0.057204
3  1987                  -0.026083                  -0.247596  0.049369
4  1988                  -0.072167                   1.766773  0.043623

In [18]:
cut=0

In [17]:
df['WILMINGTON PRICE INDEX(Y)'] = df['YEARLY SL (SEA LEVEL) (X)'].apply(lambda x: 1 if x>= cut else 0)
df.head(5)

   YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
0  1984                   0.011833                          1       NaN
1  1985                  -0.025167                          0  0.087549
2  1986                  -0.034667                          0  0.057204
3  1987                  -0.026083                          0  0.049369
4  1988                  -0.072167                          0  0.043623

In [19]:
df['WILMINGTON PRICE INDEX(Y)'] = df['YEARLY SL (SEA LEVEL) (X)'].apply(lambda x: 1 if x>= cut else 0)
df.head(5)

   YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
0  1984                   0.011833                          1       NaN
1  1985                  -0.025167                          0  0.087549
2  1986                  -0.034667                          0  0.057204
3  1987                  -0.026083                          0  0.049369
4  1988                  -0.072167                          0  0.043623

# Part 4

In [20]:
window=10

In [21]:
df['WILMINGTON PRICE INDEX(Y)'] = df['YEARLY SL (SEA LEVEL) (X)'].shift(1)
df.head(5)

   YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
0  1984                   0.011833                        NaN       NaN
1  1985                  -0.025167                   0.011833  0.087549
2  1986                  -0.034667                  -0.025167  0.057204
3  1987                  -0.026083                  -0.034667  0.049369
4  1988                  -0.072167                  -0.026083  0.043623

In [22]:
df['WILMINGTON PRICE INDEX(Y)'] = df['YEARLY SL (SEA LEVEL) (X)'].rolling(window=window,min_periods=1).mean()
df.head(5)

   YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
0  1984                   0.011833                   0.011833       NaN
1  1985                  -0.025167                  -0.006667  0.087549
2  1986                  -0.034667                  -0.016000  0.057204
3  1987                  -0.026083                  -0.018521  0.049369
4  1988                  -0.072167                  -0.029250  0.043623

# Part V Train and Test Split

In [23]:
from sklearn.model_selection import TimeSeriesSplit
tss = TimeSeriesSplit()
print(tss)

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)

In [24]:
# change the train and test split parameters 
tss = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=2, test_size=None)

In [25]:
for train_idx, test_idx in tss.split(df):
    print("TRAIN:", train_idx, "TEST:", test_idx)

TRAIN: [ 0  1  2  3  4  5  6  7  8  9 10 11 12] TEST: [13 14 15 16 17 18 19 20 21 22 23 24 25]
TRAIN: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25] TEST: [26 27 28 29 30 31 32 33 34 35 36 37 38]

In [26]:
train_idx

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [27]:
test_idx

array([26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38])

In [28]:
train_df = df.filter(items=train_idx, axis=0)
test_df =  df.filter(items=test_idx, axis=0)

In [29]:
train_df.head()

   YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
0  1984                   0.011833                   0.011833       NaN
1  1985                  -0.025167                  -0.006667  0.087549
2  1986                  -0.034667                  -0.016000  0.057204
3  1987                  -0.026083                  -0.018521  0.049369
4  1988                  -0.072167                  -0.029250  0.043623

In [30]:
test_df.head()

    YEAR  YEARLY SL (SEA LEVEL) (X)  WILMINGTON PRICE INDEX(Y)
26  2010                   0.027583                   0.004233 -0.075788
27  2011                  -0.000333                   0.006692 -0.066851
28  2012                   0.045583                   0.012475 -0.046505
29  2013                   0.047083                   0.014233  0.004297
30  2014                   0.118417                   0.029017  0.040842

# Part VI Prepare the Train and Test Data for Classification and Regression

## 6.1. Classification

### 6.1.1 Define the columns (Y, X) for Classification

In [31]:
cols_C = ['WILMINGTON PRICE INDEX(Y)','YEARLY SL (SEA LEVEL) (X)']

### 6.1.2 Define the Data Frame of Train and Test Data for Classification

In [32]:
df_C_train = train_df[cols_C]
df_C_test = test_df[cols_C]

### 6.1.3 Export the Train and Test Data for Classification

In [33]:
df_C_train.head()

   WILMINGTON PRICE INDEX(Y)  YEARLY SL (SEA LEVEL) (X)
0                   0.011833                   0.011833
1                  -0.006667                  -0.025167
2                  -0.016000                  -0.034667
3                  -0.018521                  -0.026083
4                  -0.029250                  -0.072167

In [34]:
df_C_train.to_csv('Classification_Train.csv')

In [35]:
df_C_test.head()

    WILMINGTON PRICE INDEX(Y)  YEARLY SL (SEA LEVEL) (X)
26                   0.004233                   0.027583
27                   0.006692                  -0.000333
28                   0.012475                   0.045583
29                   0.014233                   0.047083
30                   0.029017                   0.118417

In [36]:
df_C_test.to_csv('Classification_Test.csv')

## 6.2 Regression

### 6.2.1. Define the columns (Y, X) for Regression

In [37]:
cols_R = ['WILMINGTON PRICE INDEX(Y)','YEARLY SL (SEA LEVEL) (X)']

### 6.2.2. Define the Data Frame of Train and Test Data for Regression

In [38]:
df_R_train = train_df[cols_R]
df_R_test = test_df[cols_R]

### 6.2.3. Export the Train and Test Data for Regression

In [39]:
df_R_train.head()

   WILMINGTON PRICE INDEX(Y)  YEARLY SL (SEA LEVEL) (X)
0                   0.011833                   0.011833
1                  -0.006667                  -0.025167
2                  -0.016000                  -0.034667
3                  -0.018521                  -0.026083
4                  -0.029250                  -0.072167

In [40]:
df_R_train.to_csv('Regression_Train.csv')

In [41]:
df_R_test.head()

    WILMINGTON PRICE INDEX(Y)  YEARLY SL (SEA LEVEL) (X)
26                   0.004233                   0.027583
27                   0.006692                  -0.000333
28                   0.012475                   0.045583
29                   0.014233                   0.047083
30                   0.029017                   0.118417

In [42]:
df_R_test.to_csv('Regression_Test.csv')

In [43]:
from google.colab import files
files.download("Regression_Test.csv")

In [44]:
from google.colab import files
files.download("Regression_Train.csv")

In [45]:
from google.colab import files
files.download("Classification_Test.csv")

In [46]:
from google.colab import files
files.download("Classification_Train.csv")